$element-length: (
  d48: 0.48rem,
  d6: 0.6rem,
  d7: 0.7rem,
  d9: 0.9rem,
  d84: 0.84rem,
  1d2: 1.2rem,
  20p: 20%,
  90p: 90%,
  100p: 100%,
  55: 55px,
  100: 100px,
  110: 110px,
  162: 162px,
  300: 300px,
  330: 330px,
  350: 350px,
  400: 400px
);

@each $lengthKey, $length in $element-length {
  .width-#{$lengthKey} {
    width: $length;
  }

  .height-#{$lengthKey} {
    height: $length;
  }
}
