$element-length: (
  20p: 20%,
  90p: 90%,
  100p: 100%,
  100: 100px
);

@each $lengthKey, $length in $element-length {
  .width-#{$lengthKey} {
    width: $length;
  }

  .height-#{$lengthKey} {
    height: $length;
  }
}
