$element-length: (
  d2: 0.2rem,
  d26: 0.26rem,
  d48: 0.48rem,
  d6: 0.6rem,
  d67: 0.67rem,
  d7: 0.7rem,
  d75: 0.75rem,
  d79: 0.79rem,
  d84: 0.84rem,
  d9: 0.9rem,
  d93: 0.93rem,
  d96: 0.96rem,
  1d12: 1.12rem,
  1d16: 1.16rem,
  1d2: 1.2rem,
  1d5: 1.5rem,
  1d6: 1.6rem,
  1d74: 1.74rem,
  2d3: 2.3rem,
  3d82: 3.82rem,
  5d86: 5.86rem,
  20p: 20%,
  90p: 90%,
  98p: 98%,
  100p: 100%,
  50: 50px,
  55: 55px,
  62: 62px,
  100: 100px,
  110: 110px,
  162: 162px,
  192: 192px,
  300: 300px,
  330: 330px,
  350: 350px,
  400: 400px
);

@each $lengthKey, $length in $element-length {
  .width-#{$lengthKey} {
    width: $length;
  }

  .height-#{$lengthKey} {
    height: $length;
  }
}
