//边距类型
$spacing-types: (
  "m": margin,
  "p": padding
);

//边距方向
$spacing-directions: (
  t: top,
  l: left,
  r: right,
  b: bottom
);

//边距尺寸
$spacing-base-size: 1rem;
$spacing-sizes: (
  dd3: 0.03,
  d1: 0.1,
  d15: 0.15,
  d2: 0.2,
  d24: 0.24,
  d25: 0.25,
  d28: 0.28,
  d3: 0.3,
  d32: 0.32,
  d34: 0.34,
  d35: 0.35,
  d39: 0.39,
  d4: 0.4,
  d6: 0.6,
  d9: 0.9
);

@each $typeKey, $type in $spacing-types {
  /**
    .m-d1 {
      margin: .1rem;
    }
  */
  @each $sizeKey, $size in $spacing-sizes {
    .#{$typeKey}-#{$sizeKey} {
      #{$type}: $size * $spacing-base-size;
    }
  }

  /*
  左右边距
  .mx-d1 {
    margin-left: .1rem;
    margin-right: .1rem;
  }
  */
  @each $sizeKey, $size in $spacing-sizes {
    .#{$typeKey}x-#{$sizeKey} {
      #{$type}-left: $size * $spacing-base-size;
      #{$type}-right: $size * $spacing-base-size;
    }
  }

  /*
  上下边距
  .my-d1 {
    margin-top: .1rem;
    margin-bottom: .1rem;
  }
  */
  @each $sizeKey, $size in $spacing-sizes {
    .#{$typeKey}y-#{$sizeKey} {
      #{$type}-top: $size * $spacing-base-size;
      #{$type}-bottom: $size * $spacing-base-size;
    }
  }

  /*
  .mt-d1 {
    margin-top: .1rem;
  }
  */
  @each $directionKey, $direction in $spacing-directions {
    @each $sizeKey, $size in $spacing-sizes {
      .#{$typeKey}#{$directionKey}-#{$sizeKey} {
        #{$type}-#{$direction}: $size * $spacing-base-size;
      }
    }
  }
}
