@import "../../../../web/src/assets/scss/util/color.scss";
@import "../../../../web/src/assets/scss/util/elementSize.scss";
@import "../../../../web/src/assets/scss/util/flex.scss";
@import "../../../../web/src/assets/scss/util/font.scss";
@import "../../../../web/src/assets/scss/util/spacing.scss";
@import "../../../../web/src/assets/scss/util//border.scss";
@import "../../../../web/src/assets/scss/util/position.scss";

.container {
  .avatar-uploader {
    .el-upload {
      border: 1px dashed #d9d9d9;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      width: 5rem;
      height: 5rem;

      &:hover {
        border-color: #409eff;
      }

      .icon {
        height: 5rem;
        width: 100%;
      }
    }

    // 轮播图单独设置样式
    &.carousel .el-upload {
      height: 150px !important;
    }

    &.banner .el-upload {
      width: 360px;
      height: 183px;
      border-radius: 0;

      .icon {
        height: 100%;
        width: 100%;
      }
    }
  }

  .avatar-uploader-icon {
    font-size: 28px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #8c939d;
  }
}
