@import "../../../../web/src/assets/scss/util/color.scss";
@import "../../../../web/src/assets/scss/util/elementSize.scss";
@import "../../../../web/src/assets/scss/util/flex.scss";
@import "../../../../web/src/assets/scss/util/font.scss";
@import "../../../../web/src/assets/scss/util/spacing.scss";
@import "../../../../web/src/assets/scss/util/border.scss";
@import "../../../../web/src/assets/scss/util/position.scss";
@import "./variable.scss";
@import "./element-ui.scss";

html,
body {
  padding: 0;
  margin: 0;

  /* 设置滚动条的样式 */
  ::-webkit-scrollbar {
    width: 12px;
  }
  /* 滚动槽 */
  ::-webkit-scrollbar-track {
    background: #f5f5f5;
  }
  /* 滚动条滑块 */
  ::-webkit-scrollbar-thumb {
    background: #dfdfdf;
  }

  // 选中的背景颜色
  ::selection {
    background: #02a1e9;
    color: #fff;
  }
}

.el-container {
  background: #f1f4f5;

  .el-main {
    .container {
      min-height: calc(100% - 55px);
      padding: 25px 30px;
      background-color: #fff;
      border: 1px solid #ebeef5;
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
      border-radius: 4px;

      > div > .el-tag {
        margin: 8px 0;
        width: 100%;
      }
    }
  }
}

.container {
  .avatar-uploader {
    .el-upload {
      border: 1px dashed #d9d9d9;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      width: 50px;
      height: 50px;

      &:hover {
        border-color: #409eff;
      }

      .icon {
        height: 50px;
      }
    }

    // 轮播图单独设置样式
    &.carousel .el-upload {
      height: 150px !important;
    }

    &.banner .el-upload {
      width: 360px;
      height: 183px;
      border-radius: 0;

      .icon {
        height: 100%;
        width: 100%;
      }
    }
  }

  .avatar-uploader-icon {
    font-size: 28px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #8c939d;
  }
}
