// sidebar
$menuText: #8a979e;
$menuActiveText: #fff;
$subMenuActiveText: #f4f4f5;

$menuBg: #263238;
$menuHover: #2b373d;
$menuHoverText: #c5cbcf;

$subMenuBg: #202b30;
$subMenuHover: #2b373d;

$sideBarWidth: 230px;

// 改变element-ui主题色
$--color-primary: #02a1e9;
$--font-path: "~element-ui/lib/theme-chalk/fonts";
@import "~element-ui/packages/theme-chalk/src/index";

// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
