* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.2em;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, 微软雅黑, sans-serif;
  background: #f1f1f1;
}

a {
  color: #999;
  text-decoration: none;
}

@import "./util/color.scss";
@import "./util/elementSize.scss";
@import "./util/flex.scss";
@import "./util/font.scss";
@import "./util/spacing.scss";

//button
.btn {
  border: none;
  font-size: map-get($font-sizes, "md");
  outline: none;
  border-radius: 3px;
  cursor: pointer;
}

.ws-nowrap {
  white-space: nowrap;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

//nav
.nav {
  display: flex;
  .nav-item {
    border-bottom: 3px solid transparent;

    &.active {
      border-bottom-color: map-get($colors, "primary");
      color: map-get($colors, "primary");
    }
  }

  &.inverse {
    .nav-item {
      &.active {
        border-bottom-color: #fff;
        color: #fff;
      }
    }
  }
}
