* {
  box-sizing: border-box;
}

html {
  font-size: 13px;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  background: #f1f1f1;
}

a {
  color: #999;
  text-decoration: none;
}

//颜色变量
$colors: (
  "primary": #db9e3f,
  "white": #fff,
  "light": #f9f9f9,
  "grey": #999,
  "font": #343440,
  "dark": #222,
  "black": #000
);

//文字颜色 & 元素背景色
@each $colorKey, $color in $colors {
  .text-#{$colorKey} {
    color: $color;
  }

  .bg-#{$colorKey} {
    background: $color;
  }
}

//字体大小变量
$base-font-size: 1rem;
$font-sizes: (
  //最小
    xs: 0.7692,
  //10px
    //小
    sm: 0.9231,
  //12px
    //中等
    md: 1,
  //13px
    //稍大
    lg: 1.0769,
  //14px
    //更大
    xl: 1.2308,
  //16px
);

//字体大小
@each $sizeKey, $size in $font-sizes {
  .fs-#{$sizeKey} {
    font-size: $size * $base-font-size;
  }
}

//flex布局
.flex {
  display: flex;
}

//column
.fd-column {
  flex-direction: column;
}

//justify-content变量
$flex-jc: (
  "start": flex-start,
  "end": flex-end,
  "center": center,
  "between": space-between,
  "round": space-around
);

//justify-content
@each $jcKey, $value in $flex-jc {
  .jc-#{$jcKey} {
    justify-content: $value;
  }
}

//align-items变量
$flex-ai: (
  "start": flex-start,
  "end": flex-end,
  "center": center,
  "between": space-between,
  "round": space-around
);

//align-items
@each $aiKey, $value in $flex-ai {
  .ai-#{$aiKey} {
    align-items: $value;
  }
}

//边距类型
$spacing-types: (
  "m": margin,
  "p": padding
);

//边距方向
$spacing-directions: (
  t: top,
  l: left,
  r: right,
  b: bottom
);

//边距尺寸
$spacing-base-size: 1rem;
$spacing-sizes: (
  0: 0,
  1: 0.25,
  2: 0.5,
  3: 1,
  4: 1.5,
  5: 3
);

@each $typeKey, $type in $spacing-types {
  /**
    .m-3 {
      margin: 1rem;
    }
  */
  @each $sizeKey, $size in $spacing-sizes {
    .#{$typeKey}-#{$sizeKey} {
      #{$type}: $size * $spacing-base-size;
    }
  }

  /*
  左右边距
  .mx-3 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  */
  @each $sizeKey, $size in $spacing-sizes {
    .#{$typeKey}x-#{$sizeKey} {
      #{$type}-left: $size * $spacing-base-size;
      #{$type}-right: $size * $spacing-base-size;
    }
  }

  /*
  上下边距
  .my-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  */
  @each $sizeKey, $size in $spacing-sizes {
    .#{$typeKey}y-#{$sizeKey} {
      #{$type}-top: $size * $spacing-base-size;
      #{$type}-bottom: $size * $spacing-base-size;
    }
  }

  /*
  .mt-1 {
    margin-top: 1rem;
  }
  */
  @each $directionKey, $direction in $spacing-directions {
    @each $sizeKey, $size in $spacing-sizes {
      .#{$typeKey}#{$directionKey}-#{$sizeKey} {
        #{$type}-#{$direction}: $size * $spacing-base-size;
      }
    }
  }
}
